:root {
    --pico-font-size: 100%;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/fonts/geist/GeistVF.woff2") format("woff2"),
        url("/assets/fonts/geist/GeistVF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/fonts/geist/Geist-Medium.woff2") format("woff2"),
        url("/assets/fonts/geist/Geist-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("/assets/fonts/geist-mono/GeistMonoVF.woff2") format("woff2"),
        url("/assets/fonts/geist-mono/GeistMonoVF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    @apply p-5;
    font-family: Geist, sans-serif;
}

.container {
    @apply max-w-[800px] mx-auto my-0;
}

pre {
    @apply bg-[#f4f4f4] relative p-[15px] rounded-[5px];
}

.code-container {
    @apply relative overflow-visible;
}

.button-group {
    @apply absolute flex gap-1 right-2 top-2;
}

.icon-button {
    @apply bg-[rgba(73, 73, 73, 0.5)] rounded cursor-pointer transition-[background-color] duration-[0.3s] ease-[ease] w-7 h-7 flex items-center justify-center p-1 border-[none] hover:bg-[rgba(73, 73, 73, 0.25)];
}

.action-text {
    @apply absolute h-7 bg-[#2196F3] text-[rgb(50, 50, 50)] rounded text-xs opacity-0 transition-opacity duration-[0.3s] ease-[ease-in-out] px-1 py-2 right-[3.75rem] top-0;
}

#regenerating-indicator {
    @apply hidden absolute bg-[#2196F3] text-[rgb(69, 69, 69)] rounded text-xs px-1 py-0.5 right-[3.75rem] top-2;
}

.htmx-request .regenerate-button {
    @apply opacity-50 cursor-not-allowed;
}

.htmx-request #regenerating-indicator {
    @apply flex;
}

.error-message {
    @apply text-[red] text-[0.9em] mt-[5px];
}

.button {
    @apply inline-flex items-center justify-center;
}

.icon-container {
    @apply relative w-6 h-6 mr-2;
}

.svg-icon,
.htmx-indicator {
    @apply absolute w-full h-full transition-opacity duration-[0.3s] ease-[ease-in-out] left-0 top-0;
}

.htmx-indicator {
    @apply opacity-0;
}

.button.htmx-request .svg-icon {
    @apply opacity-0;
}

.button.htmx-request .htmx-indicator {
    @apply opacity-100;
}

/* Debug styles */
.debug-indicator {
    @apply fixed bg-[#ff0] text-black font-[bold] z-[9999] p-[5px] right-2.5 top-2.5;
}

/* Typography */
.font-details-off {
    font-feature-settings: "clig" off, "liga" off;
}

H1 {
    @apply text-[2.5rem] not-italic font-medium leading-[64px] tracking-[-0.84px];
    font-family: Geist;

    /* 114.286% */
}

H2 {
    @apply text-[2.5rem] not-italic font-medium leading-[3rem] tracking-[-0.0375rem];

    /* 120% */
}

.xs-mono-body {
    @apply text-sm not-italic font-medium leading-[180%] text-sm not-italic font-medium leading-[180%];
    font-family: "Geist Mono", monospace;

    /* 1.575rem */
}

.mono-body {
    @apply text-base not-italic font-medium leading-[180%];
    font-family: "Geist Mono", monospace;

    /* 1.8rem */
}

.mono-s {
    @apply text-base not-italic font-medium leading-[180%];
    font-family: "Geist Mono", monospace;

    /* 28.8px */
}

.xs-mono-body {
    font-family: "Geist Mono";

    /* 1.575rem */
}

.regular-body,
.s-body {
    @apply text-base not-italic font-normal leading-6 tracking-[-0.005rem];

    /* 150% */
}

.m-body {
    @apply text-xl not-italic font-normal leading-7 tracking-[-0.0125rem];
    font-family: "Geist", sans-serif;

    /* 140% */
}

.l-body {
    @apply text-2xl not-italic font-normal leading-8 tracking-[-0.015rem];

    /* 133.333% */
}

.heading-3 {
    @apply text-2xl not-italic font-medium leading-8 tracking-[-0.015rem];

    /* 133.333% */
}

/* scroll */
.hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
}

.hide-scrollbar {
    -ms-overflow-style: none;

    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
}

.cta-button {
    @apply inline-block bg-[#0366d6] text-[white] no-underline font-[bold] px-5 py-2.5 rounded-md;

    /* GitHub blue color */
}

.button-content {
    @apply flex items-center justify-center;
}

.github-icon {
    @apply w-6 h-6 mr-2.5;
}