:root {
    --pico-font-size: 100%;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/fonts/geist/GeistVF.woff2") format("woff2"),
        url("/assets/fonts/geist/GeistVF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/fonts/geist/Geist-Medium.woff2") format("woff2"),
        url("/assets/fonts/geist/Geist-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("/assets/fonts/geist-mono/GeistMonoVF.woff2") format("woff2"),
        url("/assets/fonts/geist-mono/GeistMonoVF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 20px;
    font-family: Geist, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.code-container {
    position: relative;
    overflow: visible;
}

.button-group {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.25rem;
}

.icon-button {
    background-color: rgba(73, 73, 73, 0.5);
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: rgba(73, 73, 73, 0.25);
}

.action-text {
    position: absolute;
    height: 1.75rem;
    top: 0rem;
    right: 3.75rem;
    background-color: #2196F3;
    color: rgb(50, 50, 50);
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#regenerating-indicator {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 3.75rem;
    background-color: #2196F3;
    color: rgb(69, 69, 69);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

.htmx-request .regenerate-button {
    opacity: 0.5;
    cursor: not-allowed;
}

.htmx-request #regenerating-indicator {
    display: flex;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.svg-icon,
.htmx-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.htmx-indicator {
    opacity: 0;
}

.button.htmx-request .svg-icon {
    opacity: 0;
}

.button.htmx-request .htmx-indicator {
    opacity: 1;
}

/* Debug styles */
.debug-indicator {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #ff0;
    color: #000;
    font-weight: bold;
    z-index: 9999;
}

/* Typography */

.font-details-off {
    font-feature-settings: "clig" off, "liga" off;
}

H1 {
    font-family: Geist;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -0.84px;
}

H2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    /* 120% */
    letter-spacing: -0.0375rem;
}

.xs-mono-body {
    font-family: "Geist Mono", monospace;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    /* 1.575rem */
}

.mono-body {
    font-family: "Geist Mono", monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    /* 1.8rem */
}

.mono-s {
    font-family: "Geist Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    /* 28.8px */
}

.xs-mono-body {
    font-family: "Geist Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    /* 1.575rem */
}

.regular-body,
.s-body {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: -0.005rem;
}

.m-body {
    font-family: "Geist", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 140% */
    letter-spacing: -0.0125rem;
}

.l-body {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    /* 133.333% */
    letter-spacing: -0.015rem;
}

.heading-3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    /* 133.333% */
    letter-spacing: -0.015rem;
}

/* scroll */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
